
<div class="body">

    <div class="text"  >
        <h1>Un monde d'opportunités à portée de clic. </h1>
        <p >Découvrez pourquoi tant d'entreprises font confiance à notre solution pour automatiser le recrutement et les ressources humaines. Avec Employment Hero, accédez à un monde d'opportunités à portée de clic et révolutionnez la gestion de votre personnel.</p>
        <div class ="btn shadow" style="margin-left: 25px; background-color: #ffc600; border-radius: 20px; color:#FFFFFF; font-family: inter;font-weight: bold; " routerLink="/espaceCandidat">Commencez votre voyage avec nous</div>
    </div>

    <!-- <div class ="image">
        <img src="assets/images/hero.jpg" alt="hero"  >
    </div> -->

    <div class="video">
        <video  autoplay loop muted width="600" height="800">
            <source src="assets/videos/videoFinall4.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
</div>

