<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>
    <!-- Autres contenus de la page -->

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section logo-and-description">
                    <img src="/assets/images/logo.png" alt=" Logo" class="footer-logo" style="filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(5deg) brightness(100%) contrast(100%);">
                    <p>Découvrez notre plateforme de gestion de recrutement, un outil complet et intuitif conçu pour transformer la manière dont vous trouvez et embauchez les meilleurs talents. Notre solution centralise et simplifie chaque étape du processus de recrutement, de la publication des offres d'emploi à la sélection des candidats.</p>
                </div>
                <div class="footer-section company-info">
                    <h2 class="footer-heading">Entreprise</h2>
                    <p>EmploiNet</p>
                    <p>Tunisie</p>
                    <p>+216 99 888 777</p>
                    <p>Emploinet_contact@Emploinet.com</p>
                </div>
                <div class="footer-section quick-links">
                    <h2 class="footer-heading">Liens Rapides</h2>
                    <ul>
                        <li><a href="#"><i class="fas fa-info-circle"></i> A propos de nous</a></li>
                        <li><a href="#"><i class="fas fa-question-circle"></i> FAQ</a></li>
                        <li><a href="#"><i class="fas fa-file-contract"></i> Termes & Conditions</a></li>
                    </ul>
                </div>
                
                <div class="footer-section social-media">
                    <h2 class="footer-heading">Réseaux Sociaux</h2>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> X</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 EmploiNet. All Rights Reserved</p>
            </div>
        </div>
    </footer>

    <!-- Autres contenus de la page -->
</body>
</html>
