<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card form-container bg-gradient">
        <div class="card-body">
          <form [formGroup]="rhForm" (ngSubmit)="ngonSubmit()" class="p-4">
            <div class="mb-3">
              <label for="firstName" class="form-label">Nom :</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="Enter your first name" required aria-describedby="firstNameHelp">
              <div id="firstNameHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Prénom :</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Enter your last name" required aria-describedby="lastNameHelp">
              <div id="lastNameHelp" class="form-text"></div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email :</label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email address" required aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
            </div> 
            <div class="mb-3">
              <label for="entrepriseId" class="form-label">Entreprise ID :</label>
              <input type="text" id="entrepriseId" formControlName="entrepriseId" class="form-control" placeholder="Enter your entreprise ID" required aria-describedby="entrepriseIdHelp">
              <div id="entrepriseIdHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="motDePasse" class="form-label">Mot de passe :</label>
              <input type="password" id="motDePasse" formControlName="motDePasse" class="form-control" placeholder="Enter your password" required aria-describedby="motDePasseHelp">
              <div id="motDePasseHelp" class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>