<!-- <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <app-offer-filter (typeContratSelected)="filterByTypeContrat($event)"></app-offer-filter>
         D'autres filtres comme filter-by-region peuvent être ajoutés ici -->
      <!-- </div>  -->
      <!-- <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5>Offres d'Emploi</h5>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngFor="let offer of filteredOffers" class="list-group-item">
                <h5>{{ offer.nomOffreEmploi }}</h5>
                <p>{{ offer.nomEntreprise }} - {{ offer.typeContrat }}</p>
                 Vous pouvez ajouter d'autres détails de l'offre ici -->
              <!-- </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
   