<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header">
            Détails de l'offre d'emploi
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><strong>Nom de l'offre :</strong> {{ offer.nomOffreEmploi }}</li>
              <li class="list-group-item"><strong>Nom de l'entreprise :</strong> {{ offer.nomEntreprise }}</li>
              <li class="list-group-item"><strong>Type de contrat :</strong> {{ offer.typeContrat }}</li>
              <li class="list-group-item"><strong>Région :</strong> {{ offer.region }}</li>
              <li class="list-group-item"><strong>Nombre d'années d'expérience :</strong> {{ offer.nbExperienceOffre }}</li>
              <li class="list-group-item"><strong>Date de publication :</strong> {{ offer.datePublication | date:'dd-MM-yyyy'}}</li>
              <li class="list-group-item"><strong>Date d'expiration :</strong> {{ offer.dateExpiration | date:'dd-MM-yyyy' }}</li>
              <li class="list-group-item"><strong>Description :</strong> {{ offer.description }}</li>
            </ul>
            <div class="text-center mt-4">
              <button class="btn btn-primary" (click)="redirectToForm(offer.id)">Postuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  