
  


    .form-container {
    background-color: rgba(255, 255, 255, 0.7); /* Fond blanc semi-transparent pour le formulaire */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }