<div class="container">
  <div class="filter">
    <app-offer-filter (filterChange)="onFilterChange($event)"></app-offer-filter>
  </div>
  <div class="offer-list">
    <div *ngIf="offers && offers.length > 0; else noOffers">
      <div *ngFor="let offer of offers" class="card">
        <div class="card-header">
          <div class="job-info">
            <h2>{{ offer.nomOffreEmploi }}</h2>
            <span class="company">{{ offer.nomEntreprise }}</span>
          </div>
          
        </div>
        <div class="job-details">
          <div class="job-type">
            <span><i class="bi bi-pen" style="margin-right: 10px;"></i>{{offer.typeContrat}}</span>
          </div>
          <div class="experience">
            <span><i class="bi bi-briefcase" style="margin-right: 10px;"></i>{{offer.nbExperienceOffre}}</span>
          </div>
          <div class="location">
            <span><i class="bi bi-geo-alt" style="margin-right: 10px;"></i>{{offer.region}}</span>
          </div>
          <div class="posted-date">
            <span>{{ offer.datePublication | date }}</span>
          </div>
        </div>
        <p>{{ offer.description }}</p>
        <div class="job-salary">
          <span><i class="bi bi-currency-exchange "style="margin-right: 10px; "></i>$30k-40k / Mois</span>
          <button class="apply-btn" [routerLink]="['/offer', offer.id]">Détails</button>
        </div>
        
      </div>
    </div>
    <ng-template #noOffers>
      <p>Aucune offre disponible pour le moment.</p>
    </ng-template>
  </div>
</div>
