/* 
  .container{
    display: flex;
  }

  .filter {
    margin-left: 200px;

  }
  .offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 100px;
   
  }
  
  .card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    color: #555;
  }
   */


   .container {
    display: flex;
  }
  
  .filter {
    margin-left: 200px;
  }
  
  .offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 100px;
    margin-left: 180px;    
  }
  
  .card {
    background: rgba(236, 235, 235, 0.847);
    border: 1px solid #ffc600;
    border-radius: 15px;
    padding: 16px;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
    
  .job-info {
    flex-grow: 1;
    margin-left: 16px;
  }
  
  .job-info h2 {
    margin: 0;
    font-size: 20px;
    font-family: inter;
    font-weight: bold;
  }
  
  .company {
    display: block;
    color: #777;
    font-size: 14px;
    font-family: inter;
  }
    
  .job-details {
    display: flex;
    gap: 50px;
    margin-bottom: 16px;
  }
 
  
  .job-details span {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }
  
  .job-details span:not(:last-child) {
    margin-right: 16px;
  }
  
  p {
    color: #555;
  }
  
  .job-salary {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    .bi{
      color: #008080;
    }
    
  }

  
  .apply-btn {
    margin-left: 500px;
    background-color: #008080;
    color:  rgb(236, 235, 235);
    border: none;
    padding: 12px 50px;
    border-radius: 15px;
    cursor: pointer;
    font-family: inter;
    
  }
  
  .apply-btn:hover {
    background-color: #00808085;
    color: #000000;
    font-weight: bold;
  }

  img{
    margin-top: -30px;
    margin-left: 100px;
    position: fixed;
    width: 90vh;
  }
