<app-navbar></app-navbar>

<div class="body">
    <div class="container py-5">
        <div class="row text-center">
            <!-- Card 1 -->
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Hiring Essentials</h5>
                        <p class="card-text">Our free recruitment software has everything you need to hire candidates with ease.</p>
                        <h6 class="card-price" style="background-color: #00808029; border-radius: 10px;">$0<span> <br>Per employee / month</span></h6>
                        <a routerLink="/sign-in" class="btn btn-primary mt-3">Get started <br><i class="bi bi-arrow-right-short"></i></a>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" ></i></span>Job board integration</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Candidate tracking & communication</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Paperless agreements</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Careers Page</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">HR Standard</h5>
                        <p class="card-text">Perfect for businesses looking to take that first step with cloud-based HR.</p>
                        <h6 class="card-price"style="background-color: #00808029; border-radius: 10px; ">$8<span> <br>Per employee / month</span></h6>
                        <a routerLink="/sign-in" class="btn btn-primary mt-3">Get started<br> <i class="bi bi-arrow-right-short"></i></a>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Onboarding Checklists</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>HR Document Library</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>VEVO Checks</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Leave Management</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Benefits and Discounts</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">HR Premium</h5>
                        <p class="card-text">Manage performance reviews, encourage professional development and track expenses.</p>
                        <h6 class="card-price"style="background-color: #00808029; border-radius: 10px;">$12<span> <br>Per employee / month</span></h6>
                        <a routerLink="/sign-in" class="btn btn-primary mt-3">Get started <br><i class="bi bi-arrow-right-short"></i></a>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Performance Reviews</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>LMS</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Reporting</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Asset Register</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Expenses</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 mb-4">
                <div class="card h-100 ">
                    <div class="card-body" style="background-color:  #00808029; border: 4px solid #008080; border-radius: 7px;">
                        <h5 class="card-title">HR Platinum</h5>
                        <p class="card-text">Advanced HR features for teams looking to stay strategically aligned.</p>
                        <h6 class="card-price"style="background-color: #00808029; border-radius: 10px;">$20<span> <br>Per employee / month</span></h6>
                        <a routerLink="/sign-in" class="btn btn-primary mt-3">Speak to sales<br> <i class="bi bi-arrow-right-short"></i></a>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Phone Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Goal Setting</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Fields</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Branding</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>API Access</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Login section -->
        <div class="text-center mt-5" >
            <p>Vous avez déjà un compte ?</p>
            <div class="loginboutons">
            <a routerLink="/sign-in" class="btn btn-success ">Continuer en tant qu'Entreprise </a>
            <a routerLink="/sign-in" class="btn btn-warning">Continuer en tant que Responsable RH </a>
            </div>
        </div>
    </div>
</div>

<!-- Scripts for Bootstrap and FontAwesome -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

<app-footer></app-footer>